.Main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  min-height: calc(100vh - 120px);
}

.Main hr {
  width: 95%;
  margin: 4px 0px;
}

.dark {
  color: white;
}

.dark .Main {
  min-height: calc(100vh - 120px);
  flex: 1;
}

.Main input {
  width: 60%;
  height: 1.8rem;
  border-radius: 5px;
  font-size: var(--font-text-size-mobile);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Main input:focus {
  outline: 2px solid var(--verde-oscuro);
}

.Main h2 {
  font-size: var(--font-subtitle-size-mobile);
  margin-top: 4px;
}

.Main p {
  width: 70%;
  margin-top: 4px;
  text-align: center;
  font-size: var(--font-text-size-mobile);
  margin-bottom: 16px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.8fr;
  grid-gap: 8px;
}

.posterMovie {
  width: 6.5rem;
  height: 10rem;
  border-radius: var(--button-border-radius);
}

.movies.dark .posterMovie {
  border: var(--border-white);
}

.movies.light .posterMovie {
  border: var(--border-black);
}

.MuiPagination-root button {
  font-size: calc(var(--font-text-size-mobile) - 1px);
  margin-top: 20px;
  padding: 0;
  background: #fb7b03;
}

.dark .MuiPagination-root button {
  color: white;
}

.MuiPagination-root li div {
  color: white;
  margin: auto;
}

.dark .MuiPagination-root li div {
  color: white;
}
