.Breadcrumbs{
  width: 100%;
}

.completeBreadcrumbs{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
}

.breadcrumbsText{
  list-style: none;
  margin-left: 2px;
  font-size: var(--font-text-size-mobile);
}

.dark .LINK {
  color: white;
}

.LINK {
  text-decoration: none;
}

.focusSpan {
  color: var(--color-orange);
}
