.focusSpan {
  color: var(--color-orange);
}
.Breadcrumbs {
  padding: 0px 10px;
}
.Breadcrumbs p {
  font-size: var(--font-text-size-mobile);
}

.Breadcrumbs .LINK {
  font-size: var(--font-text-size-mobile);
  text-decoration: none;
  color: white;
}

.Breadcrumbs .LINK.focusSpan {
  color: var(--color-orange);
}

.light .Breadcrumbs .LINK {
  color: black;
}
