.castInfo {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.castInfo .personName {
  font-size: var(--font-text-size-mobile);
  padding: 3px;
  margin: 2px;
  background-color: var(--bg-black);
  border-radius: 3px;
  cursor: pointer;
}

.dark .castInfo p {
  background-color: var(--bg-white);

}
