.detailInfo {
  padding: 10px;
}

.detailInfo .detailMovie {
  font-size: var(--font-text-size-mobile);
  padding: 3px;
  margin: 2px;
  background-color: var(--bg-black);
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.dark .detailMovie p {
  background-color: var(--bg-white);
}
