.Movie {
  min-height: 100vh;
  max-width: 100%;
  padding: 10px;
}

.movie {
  display: flex;
  flex-flow: row nowrap;
}

.movie img {
  width: 13rem;
  height: 20rem;
  border-radius: 5px;
  margin-right: 10px;
}

.infoMovie {
  display: flex;
}

.skeletonTitleOverview{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: none;
}

.skeleton {
  margin: 0;
  padding: 0;
}

.h2 {
  font-size: var(--font-subTitle-size-mobile);
}

.overview p {
  margin-top: 4px;
  font-size: var(--font-text-size-mobile);
}

.overview p span {
  color: rgba(0, 119, 255, 0.781);
  cursor: pointer;
  text-decoration: none;
}

.infoPersons {
  min-height: 10rem;
  margin: 4px;
  border-radius: 4px;
}

.infoPersons ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid white;
}

.infoPersons ul li {
  font-size: var(--font-text-size-mobile);
  font-weight: 600;
  cursor: pointer;
}

.infoPersons ul li:focus {
  color: var(--color-orange);
}

.infoPersons ul li:hover {
  color: var(--color-orange);
}

.detailMovie {
  max-height: 100%;
}
