header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

h1 {
  color: #f4f4f4;
  font-family: var(--font-title);
  font-size: var(--font-title-size);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.light h1 {
  color: #000000;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.Link {
  text-decoration: none;
}
