.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Main hr {
  width: 95%;
  margin: 4px 0px;
}

.dark {
  color: white;
}

.Main input {
  width: 90%;
  height: 1.8rem;
  border-radius: 5px;
  font-size: var(--font-text-size-mobile);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Main input:focus {
  outline: 2px solid var(--violeta-oscuro);
}

.Main h2 {
  font-size: var(--font-subtitle-size-mobile);
  margin-top: 4px;
}

.Main p {
  width: 70%;
  margin-top: 4px;
  text-align: center;
  font-size: var(--font-text-size-mobile);
  margin-bottom: 16px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.8fr;
  grid-gap: 8px;
}

.posterMovie {
  width: 6.5rem;
  height: 10rem;
  border-radius: var(--button-border-radius);
}

.movies.dark .posterMovie {
  border: var(--border-white);
}

.movies.light .posterMovie {
  border: var(--border-black);
}

.MuiPagination-root button {
  font-size: var(--font-text-size-mobile);
  margin-top: 10px;
  padding: 0;
}

.dark .MuiPagination-root button {
  color: white;
}

.MuiPagination-root li div {
  color: white;
  margin: auto;
}

.dark .MuiPagination-root li div {
  color: white;
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {

  .introduction h2 {
    font-size: var(--font-subTitle-size-desktop);
  }

  .introduction p {
    font-size: 1rem;
  }

  .movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
  }

  .dark .MuiPagination-root button {
    font-size: 1.2rem;
    margin: 16px;
  }
}

@media screen and (min-width: 1600px)and (max-width:10000px) {

  .introduction h2 {
    font-size: var(--font-subTitle-size-desktop);
  }

  .introduction p {
    font-size: var(--font-text-size-desktop);
    width: 30%;
  }

  .movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3em;
  }

  .cardMovie {
    height: fit-content;
  }

  .posterMovie:hover {
    border-radius: 8px;
    border: 3px solid blueviolet;
  }

  .MuiSkeleton-fitContent {
    border-radius: 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
