footer {
  position: static;
  bottom: 0;
  width: 100%;
}

.footer {
  align-items: center;
  color: black;
  display: flex;
  font-family: "Cinzel", serif;
  font-size: var(--font-text-footer);
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

span {
  margin-left: 5px;
}

.dark .footer {
  color: white;
}

@media screen and (min-width: 900px) {
  .footer {
    margin-top: 20px;
    font-size: var(--font-text-footer-desktop);
  }
  footer img {
    width: 60px;
    height: fit-content;
  }
}
