.CommentsTopic {
  min-height: 100vh;
  padding: 10px;
  min-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

.topic {
  padding: 10px;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
}

.titleTopic {
  text-transform: uppercase;
}

.descriptionTopic {
  font-size: var(--font-text-size-mobile);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.descriptionTopic:first-letter {
  text-transform: capitalize;
}


.countComment {
  align-self: end;
  font-size: calc(var(--font-text-size-mobile) - 3px);
  margin-top: 5px;
  padding-right: 10px;
}

.commentBox {
  width: 100%;
  padding: 5px;
}

.responseTopic {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: var(--border-black);
}

.dark .responseTopic {
  border: var(--border-white);
}

.responseText {
  font-size: calc(var(--font-text-size-mobile));
  margin: 10px;
}

.responseText:first-letter {
  text-transform: capitalize;
}

.addResponse {
  margin: 10px;
  background-color: var(--color-orange);
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.autorName{
  font-size: calc(var(--font-text-size-mobile) + 0.05rem);
  margin-bottom: 2px;
  font-weight: 600;
}


