:root {
  --violeta-claro: rgb(141, 126, 177);
  --violeta-oscuro: rgb(105, 59, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
}

body.oscuro {
  background-color: black;
}

body.oscuro h1 {
  color: white;
}

header {
  height: 8rem;
  background: rgb(118, 93, 182);
  background: linear-gradient(90deg, rgba(118, 93, 182, 1) 3%, rgb(105, 59, 223) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Domine", serif;
}

.iconoTema {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px;
}

.mostrar {
  display: block;
}

body.oscuro main {
  color: white;
}

main {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-size: 1.2rem;
}

#movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 10px;
  margin-bottom: 30px;
  grid-gap: 5px;
}

.movieCard {
  cursor: pointer;
}

.posterMovie {
  border-radius: 8px;
  transition: border 100ms;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  width: 100%;
}

body.oscuro .posterMovie {
  border: 1px solid rgba(255, 255, 255, 0.199);
}

body.oscuro .posterMovie:hover {
  border-radius: 8px;
  border: 3px solid blueviolet;
}

.posterMovie:hover {
  border-radius: 8px;
  border: 3px solid blueviolet;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgb(118, 93, 182);
  background: linear-gradient(90deg, rgba(118, 93, 182, 1) 3%, rgb(105, 59, 223) 100%);
}

body.oscuro footer {
  color: white;
}



@media  only screen and (min-width: 750px) {
  #movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media  only screen and (min-width: 1000px) {
  #movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media  only screen and (min-width: 1600px) {
  #movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}